button,
.btn {
  width: max-content;
  display: flex;
  align-items: center;
  font-size: $fontSize;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  > *:not(:last-child) {
    margin-right: 8px;
  }

  &.btn-dark {
    color: #fff;
    background-color: #000;
  }

  &.btn-light {
    color: #000;
    background-color: #fff;
  }

  &.btn-red {
    color: #fff;
    background-color: #e11c1c;
  }

  &.btn-large {
    padding: 16px 32px;
  }

  &.btn-medium {
    padding: 10px 20px;
  }

  &.btn-small {
    padding: 5px 10px;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

p + button,
p + .btn {
  margin-top: 3rem;
}
