button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  font-size: $font-size;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  span {
    margin-right: 8px;
  }

  &.btn-dark {
    color: #fff;
    background-color: #000;
  }
  &.btn-light {
    color: #000;
    background-color: #fff;
  }
  &.btn-red {
    color: #fff;
    background-color: #e11c1c;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

p + button,
p + .btn {
  margin-top: 3rem;
}
