*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  font-size: $font-size;
  color: $font-color-dark;
}

#app {
  overflow-x: hidden;
}

section {
  width: 100%;
  min-height: 60rem;
  padding: $gapY $gapX;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    max-width: 1400px;
  }
}
