// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// Global Styles
body {
  font-size: $fontSize;
  color: $textDark;
}

#app {
  width: 100%;
  min-height: 100vh;
  padding-top: 7.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $paddingX;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
