.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff25;
  transition: 0.4s;

  &.icon-small {
    padding: 1rem;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &.icon-medium {
    width: max-content;
    padding: 2rem;

    svg {
      width: 6rem;
      height: 6rem;
    }
  }
  &.icon-large {
    flex: 1 1 30%;
    padding: 4rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  svg {
    fill: #000;
  }

  &.spinner {
    background-color: #000;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.error {
    background-color: $warning;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.movie {
    background-color: #000;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.male {
    background-color: #6eb9fa;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.female {
    background-color: #faa7b5;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &.hermaphrodite {
    background-color: #faf3c0;
    svg {
      fill: #000;
    }
  }
  &.species {
    background-color: #d4fab4;
    svg {
      fill: #000;
    }
  }
  &.planet {
    background-color: #ad7b2a;
    svg {
      fill: #fff;
    }
  }
  &.starship {
    background-color: #fa5c59;
    svg {
      fill: #fff;
    }
  }
  &.vehicle {
    background-color: #6e76fa;
    svg {
      fill: #fff;
    }
  }
  &.spinner {
    svg {
      animation: spinner 1s linear infinite forwards;
    }
  }
}
