.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $iconDefault;
  transition: 0.4s;

  &.icon-small {
    padding: 1rem;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &.icon-medium {
    width: max-content;
    padding: 2rem;

    svg {
      width: 6rem;
      height: 6rem;
    }
  }
  &.icon-large {
    flex: 1 1 30%;
    padding: 4rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  svg {
    fill: $textDarkest;
  }

  &.spinner {
    background-color: $bgDarkest;
    svg {
      path {
        fill: $textLight;
      }
    }
  }
  &.error {
    background-color: $warning;
    svg {
      path {
        fill: $textLight;
      }
    }
  }
  &.movie {
    background-color: $bgDarkest;
    svg {
      path {
        fill: $textLight;
      }
    }
  }
  &.male {
    background-color: $iconMale;
    svg {
      path {
        fill: $textLight;
      }
    }
  }
  &.female {
    background-color: $iconFemale;
    svg {
      path {
        fill: $textLight;
      }
    }
  }
  &.hermaphrodite {
    background-color: $iconHermaphrodite;
    svg {
      fill: $textDarkest;
    }
  }
  &.species {
    background-color: $iconSpecies;
    svg {
      fill: $textDarkest;
    }
  }
  &.planet {
    background-color: $iconPlanet;
    svg {
      fill: $textLight;
    }
  }
  &.starship {
    background-color: $iconStarship;
    svg {
      fill: $textLight;
    }
  }
  &.vehicle {
    background-color: $iconVehicle;
    svg {
      fill: $textLight;
    }
  }
  &.spinner {
    svg {
      animation: spinner 1s linear infinite forwards;
    }
  }
}
