// Font: Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.618;
}

h2,
h3,
.episode {
  font-weight: 800;
  line-height: 1.4;
}

h3 {
  font-size: 1.6rem;
}

span.section-subtitle {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: italic;
}

h2.section-title {
  font-size: 2.4rem;
  line-height: 1.618;
}

span + h3,
h3 + span,
h3 + a.value {
  margin-top: 1rem;
}

a + .header-subtitle,
span + .header-subtitle,
.details + .header-subtitle {
  margin-top: 2rem;
}

.header-subtitle + a,
.header-subtitle + span,
.header-subtitle + p,
.header-subtitle + h2 {
  margin-top: 1rem;
}

.header-title {
  font-size: 3.2rem;
}

h5 {
  font-weight: 500;
}

p {
  max-width: 70ch;
}

h2 + p,
p + .header-subtitle {
  margin-top: 2rem;
}

a {
  text-decoration: none;
}
