$fontSize: 1.6rem;

$warning: rgb(255, 104, 117);
$info: rgb(152, 186, 255);

$textDark: rgb(27, 27, 27);
$textDarkest: rgb(0, 0, 0);

$textLight: rgb(255, 255, 255);
$textLight2: darken($textLight, 10%);
$textLight3: darken($textLight, 20%);

$linkColor: #028cdb;

$paddingX: clamp(1.6rem, 3vw, 4rem);
$paddingY: 8rem;

$bgDarkest: #000;

$boxShadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1),
  0 20px 25px rgba(0, 0, 0, 0.1);
