.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.6)
  );
  backdrop-filter: blur(6px);
  box-shadow: $boxShadow;

  &.large {
    padding: 0 4rem 4rem 4rem;
  }

  &.small {
    padding: 0 2rem 4rem 2rem;
  }

  img {
    display: block;
    position: relative;
    top: -4rem;
    box-shadow: $boxShadow;
  }

  .icon {
    position: relative;
    top: -4rem;
    box-shadow: $boxShadow;
  }

  span.episode {
    color: $textDarkest;
    font-weight: 500;
  }

  h3 {
    text-align: center;
    color: $textDarkest;
  }

  span {
    text-align: center;
    text-transform: capitalize;
  }
}
