header {
  position: relative;
  padding: 4rem $paddingX;
  background-color: $bgDarkest;

  .container {
    position: relative;
    display: flex;
    z-index: 3;

    .image {
      flex: 1 1 30%;
      img {
        width: 100%;
      }
    }

    .text {
      flex: 1 1 50%;
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .header-subtitle {
        font-size: 1.4rem;
        color: $textLight3;
      }

      h2.header-title {
        color: $textLight;
      }

      p {
        color: $textLight2;
      }
      .details {
        padding: 1rem 0;
        > .details-group:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        .details-group {
          display: flex;
          justify-content: space-between;
          width: 100%;
          a.value,
          span.value {
            text-align: right;
          }
        }
      }
      span {
        font-weight: 400;
      }
      span.key {
        margin-right: 4rem;
        color: $textLight2;
      }

      .stats {
        margin: 1rem 0 1rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.4rem;
        color: $textLight2;
        svg {
          fill: $textLight3;
          path {
          }
        }

        > div:not(:last-child) {
          &::after {
            margin: 0 1rem;
            font-size: 2rem;
            font-weight: 100;
            content: "|";
            color: $textLight3;
          }
        }
        div {
          display: flex;
          align-items: center;
          span {
            margin-left: 5px;
          }
        }
      }
    }
    @media (max-width: 568px) {
      flex-direction: column;
      .text {
        padding: 4rem 0 0 0;
      }
    }
  }
}
