.list-item {
  display: flex;
  cursor: pointer;
  transition: 0.4s;

  &.movie {
    flex-direction: column;

    .image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      background-color: #fff;
    }
  }

  .info {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 244, 244);
    h4 {
      color: $textDark;
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
