.loader {
  padding: $gap;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;

  .spinner {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: $font-color-lightest transparent;
    margin-bottom: 4rem;
    animation: rotate 1.5s linear infinite;
  }

  .text {
    color: $font-color-lightest;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
