#movies {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 8rem $paddingX;

  .container {
    z-index: 3;
    h4,
    h2 {
      color: #fff;
      text-align: center;
    }
    h2.section-title {
      margin-bottom: 10rem;
    }

    .movies {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
      gap: 8rem;

      .movie-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 4rem 4rem 4rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0.6)
        );
        backdrop-filter: blur(6px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

        img {
          display: block;
          position: relative;
          top: -4rem;
          width: 100%;
          box-shadow: $boxShadow;
        }

        .movie-info {
          position: relative;
          top: -2rem;
          padding: 2rem 0;
          h4,
          h3 {
            text-align: left;
            color: $textDarkest;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  @media (max-width: 666px) {
    padding: 4rem $paddingX;
  }

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
