#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 $gap;
  background-color: #000;
  color: $font-color-light;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 10rem;
      height: 10rem;
    }

    .desktop-menu {
      display: flex;

      > li:not(:last-child) {
        margin-right: 3rem;
      }

      li {
        cursor: pointer;
      }
    }

    .mobile-menu {
      display: none;
      > div:not(:last-child) {
        margin-bottom: 9px;
      }
      div {
        height: 3px;
        width: 2.7rem;
        background-color: $font-color-lightest;
        border-radius: 2px;
      }
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .container {
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: block;
      }
    }
  }
}
