.pagination {
  color: #fff;
  padding: 2rem $paddingX;
  background-color: $bgDarkest;
  .container {
    display: flex;
    justify-content: center;
    > *:not(:last-child) {
      margin-right: 0.5rem;
    }
    span,
    div {
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      user-select: none;
    }
    div {
      border: 1px solid $borderLight2;
      cursor: pointer;
      transition: 0.4s;

      &.active,
      &:hover {
        border-color: $borderLight;
      }
    }
  }
}
