#vehicles {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: $gapX;

    .text {
      align-self: center;
      padding: $gapY 0;
    }
    .images {
      justify-self: center;
      img {
        width: auto;
        max-height: 50rem;
      }
    }
  }
}
